<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <!-- App name -->
  <key>CFBundleDisplayName</key>
  <string>appfix</string>

  <!-- App identifier -->
  <key>CFBundleIdentifier</key>
  <string>com.geekcollector.appfix</string>

  <!-- Allow internet access (HTTP + HTTPS) -->
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
  </dict>

  <!-- Allow Biometric Authentication -->
  <key>NSFaceIDUsageDescription</key>
	<string>Use Face ID or Touch ID to securely authenticate your account.</string>


  <!-- Required by Flutter -->
  <key>UIApplicationSupportsIndirectInputEvents</key>
  <true/>

</dict>
</plist>
